body {
  max-height: 100vh;
}

ul {
  list-style: none;
}
ul svg,
aside svg {
  margin-right: 5px;
}
/* img {
    margin-right: 5px;
    border-radius: 20%;
  } */
#firstSvg {
  border-radius: 20% solid 1px;
  background-color: grey;
  color: black;
}

.sidebar .card-body {
  display: flex;
  align-items: center;

  color: grey;
}
.sidebar .card-body img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 1rem;
  margin-bottom: 50px;
}

.sidebar .card-body .time {
  margin-left: 55px;
  font-size: 0.875rem;
  color: #b3b3b3;
}
#smallTime {
  margin-left: 100px;
}
#arrow {
  margin-left: 185px;
}

.divScroll {
  width: 1px;

  overflow-y: scroll;
}
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: black;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: black;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
/* annuncio */
#heroAnnuncio {
  background: linear-gradient(195deg, rgba(32, 32, 32, 1) 45%, rgba(0, 0, 0, 1) 96%);
}
#colonnaCentraleHomePage {
  background: linear-gradient(195deg, rgba(32, 32, 32, 1) 45%, rgba(0, 0, 0, 1) 96%);
}

.card:hover {
  transform: scale(1.05);
}
.card-hover:hover {
  transform: scale(1.05);
}
.divScroll {
  width: 100%;
  height: 88vh;
  overflow-y: auto; /* Scorrimento solo verticale */
  overflow-x: hidden; /* Nascondi lo scorrimento orizzontale */
}
#style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

#style-2::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/* stili per player */

aside svg {
  margin-right: 5px;
}

footer img {
  height: 58px;
}

#main-container {
  height: 90vh;
}
@media (max-width: 767.98px) {
  .navbar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0.14329481792717091) 59%, rgba(0,0,0,0.908000700280112) 90%);
    z-index: 1000; /
  }
  .navbar-bottom .nav-item {
    flex: 1;
    text-align: center;
  }
 
  .nav-container {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    list-style: none;
    margin-bottom: 10px;
   padding: 0.5rem 1rem;
  
   

  }
  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 8px 0;
  }
  .nav-link svg {
    margin-bottom: 5px;
  }

  .player-bottom {
    position: fixed;
    bottom: 100px; 
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  
    z-index: 1100; 
  }
  .player-content {
    width: 100%;
    padding: 10px;
    background-color: #282828; 
    color: white;
    text-align: center;
   
  }
  

  .player-content svg {
   
    margin: 0 5px; 
  }
 
  .li-container {
    position: relative;
  }
}
/* parte per la scg search */

.iconWrapperSearch {
  position: relative;
  width: 18px;
  height: 18px;
}

.iconWrapperSearch .search-icon,
.iconWrapperSearch .search-active-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.iconWrapperSearch .search-active-icon {
  opacity: 0;
}

.iconWrapperSearch.active .search-icon {
  opacity: 0;
}

.iconWrapperSearch.active .search-active-icon {
  opacity: 1;
}
#barraRicercaHome {
  display: none;
  
}

#barraRicercaHome.active {
  display: inline-block;
  
} 
@media screen and (max-width: 576px){
  #barraRicercaHome input {
    width: 88vw;
  }
}
/* sezione per il sfoglia tutto della versione mobile */
/* parte dei colori */
#cardSfogliaTutto1{
  background-color: #E13300;
}
#cardSfogliaTutto2{
  background-color: #1E3264;
}
#cardSfogliaTutto3{
  background-color: #E8115C;
}
#cardSfogliaTutto4{
  background-color: #158A08;
}
#cardSfogliaTutto5{
  background-color: #BC5800;
}
#cardSfogliaTutto6{
  background-color: #E13300;
}
#cardSfogliaTutto7{
  background-color: #DF128B;
}
#cardSfogliaTutto8{
  background-color: #8360A0;
}
#cardSfogliaTutto9{
  background-color: #E13300;
}
#cardSfogliaTutto10{
  background-color: #1E3264;
}
.cardsSfogliaTutto {
  position: relative;
  height: 13vh;
  overflow: hidden;
}
.cardsSfogliaTutto h4{
width: 70%;
}
.cardsSfogliaTutto img {
  position: absolute;
  height: 65%;
  right: -20px;
  top: 28px;
  rotate: 25deg;
  box-shadow: 0px 0px 10px 2px #000000;
}
#testoMobileCerca{
  display: none;
}
#testoMobileCerca.active{
  display: block;
}
#contenitoreMobileCerca {
  display: none;
}
#contenitoreMobileCerca.active {
  display: block;
}